<!DOCTYPE html>
<html>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
